{% extends "layouts/base.html" %} {% block title %} Bites {% endblock %} {% block head %} {{ super() }} {% endblock %}

<!-- content -->
{% block content %}

<br>
<br>


<h2>BITES</h2>
<br>
<p>These are user-generated codes to test their use of Hapy</p>
<br>

<ul>
    {% for i in range(3) %}
    <li class="card">
        <div class="card-header">
            <h4 class="card-title">A+B</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates earum rerum molestias quam, ad quos consequuntur aspernatur eveniet dolore dolores.</p>
            <a href="#" class="btn btn-primary">Attempt this challenge</a>
        </div>
        <div class="card-footer">
            <small class="text-muted ">Author: Lorem, ipsum.</small>
            <small class="text-muted mx-3">Last Modified: Lorem, ipsum dolor.</small>
        </div>
    </li>
    {%endfor%}
</ul>
{% endblock %}