{% extends "layouts/base.html" %} {% block title %} Hapy Editor {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<!-- Features section-->
<section class="py-5" id="features" style="border-top: solid #152e12 5px">
    <div class="container px-5 my-1">
        <h2 class="fw-bolder mb-0">Write Hapy Code</h2>
        <div class="row">
            <div class="col-6">
                {% include "partials/editor-base.html" %}
            </div>
            <div class="col-5">
                {% include "partials/output-base.html" %}
            </div>
        </div>

    </div>
</section>

<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="/static/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="/static/js/editor/monarch-settings.js"></script>
<script src="/static/js/editor/index.js"></script>
{% endblock %}