{% extends "layouts/base.html" %} {% block title %} Examples {% endblock %} {% block head %} {{ super() }} {% endblock %}

<!-- content -->
{% block content %}
<!-- Features section-->
<section class="py-5" id="features" style="border-top: solid #152e12 5px">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-10 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0">Examples</h2>
                <p>Here are some Hapy code examples you could try out on the editor.</p>

                <br />

                <ul>
                    {% for i in examples %}
                    <li class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{i.title}} </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{i.description}}
                            </p>
                            <a href="/examples/{{i.id}}?i={{i.slug}}" class="btn btn-primary">Attempt this challenge</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Author: Hapy Admin</small>
                            <small class="text-muted mx-3">Last Modified: {{ i.updated_at }}.</small>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}