{% extends "layouts/base.html" %} {% block title %} Attempt Challenge {% endblock %} {% block head %} {{ super() }} {% endblock %}

<!-- content -->
{% block content %}
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xx-12 pe-4 overflow-auto">
                <div>
                    {{challenge.title}}
                </div>
                <div id="challenge-desc" data-md="{{challenge.description}}">

                </div>
            </div>
            <div class="col-md-7 d-xl-block ps-3">

                {%include "partials/editor-base.html"%}
                <div id="save-container" class="d-flex  flex-row-reverse my-2">
                    <button id="save_btn" onclick="save_code('{{challenge.id}}')" class="btn btn-outline-light shadow-sm btn-dark bg-success">Submit
                        Code</button>
                </div>
                {%include "partials/output-base.html"%}
            </div>
        </div>
        </header>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="../static/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="../static/js/editor/monarch-settings.js"></script>
<script src="../static/js/editor/index.js"></script>

<script>
    $(function() {

        document.getElementById('challenge-desc').innerHTML =
            marked.parse($("#challenge-desc").data("md"));
    });
</script>

{% endblock %}