{% extends "layouts/base.html" %} {% block title %} Home {% endblock %} {% block
head %} {{ super() }} {% endblock %}

<!-- content -->
{% block content %}

<header class="text-white" style="background-color: #1d440a">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xx-12 pe-4">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">
            <img src="static/images/logo-transparent-bg.png" height="60px" />
            Hapy
          </h1>
          <p class="lead fw-normal text-white-50 mb-4">Write code in Hausa</p>

          <ol class="m-0 p-0">
            <li>
              Install Hapy from the temporary location. We'll publish Hapy to a
              permanaent location soon. Enter this command in your terminal:

              <div class="alert alert-info p-2 text-weight-bold">
                pip install -i https://test.pypi.org/simple/ --extra-index-url
                https://pypi.org/simple/ Hapy
              </div>
            </li>

            <li>
              Then check if the installation was successful
              <div class="alert alert-info p-2 text-weight-bold">
                hapy --version
              </div>
            </li>

            <li>
              Congratulations! Hapy is now installed on your system. Check out
              example codes <a href="/examples">here</a>
            </li>

            <p class="text-muted">
              Make sure you have Python
              <a href="https://www.python.org/downloads/">installed</a> o
            </p>
          </ol>
        </div>
      </div>
      <div class="col-md-7 d-xl-block ps-3">
        {%include "partials/editor-base.html"%} {%include
        "partials/output-base.html"%}
      </div>
    </div>

    <div class="d-grid gap-3 d-sm-flex justify-content-center py-3">
      <div class="text-center">
        <p class="mb-1">
          Hapy is proudly Made In Nigeria <i class="bi bi-heart"></i>
        </p>

        <a
          class="btn btn-warning btn-outline bg-gradient px-4 me-sm-3"
          href="https://github.com/hapy-lang/hapy"
          target="_blank"
        >
          <i class="bi bi-github"></i> Contribute on Github</a
        >
      </div>
    </div>
  </div>
</header>

<!-- Features section-->
<section class="py-5" style="border-top: solid #152e12 5px">
  <div class="container px-3 px-md-5 my-3 my-md-5" id="about">
    <!-- about and history START -->
    <div class="row gx-5">
      <div class="mb-5 mb-lg-0">
        <h3 class="fw-bolder mb-0">About Hapy</h3>
        <p>
          Hapy is a simple programming language for Hausa kids to learn
          Computational Thinking (CT). CT is a basic skill like literacy and
          numeracy and is made up of sub-skills such as abstraction,
          problem-solving, decomposition, and pattern recognition which are
          easily acquired through practice in programming. Unfortunately,
          <em>most programming languages are in English</em>, meaning those
          without at least a basic understanding of English are often
          discouraged from it. This is evident in Northern Nigeria which has
          some of the lowest literacy levels in the country.
        </p>

        <p>
          With Hapy, students whose primary language is Hausa can learn the
          basics of programming and Computational Thinking. In addition,
          students gain a formative introduction to high-level programming
          languages such as Python to which Hapy compiles. Hapy can be used on
          the command-line or online. It supports basic features like loops,
          functions, variables, and classes.
        </p>

        <h3 class="fw-bolder mb-0">History of Hapy</h3>
        <p>
          Hapy was created as a final school project in the Fall of 2021 by 3
          coursemates and friends; Emmanuel Segun-Lean, Shugaba Wuta and Victor
          Alumma all students of the American University of Nigeria. <br />
          <b
            >We'd love to have you as a collaborator or partner. Kindly reach
            out to
            <a href="mailto:eslean20@gmail.com"
              >Emmanuel (eslean20@gmail.com)</a
            ></b
          >
        </p>
      </div>
    </div>
    <!-- about and histroy END -->

    <!-- features and video START -->
    <div class="row gx-5 mt-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h3 class="fw-bolder mb-0">Features of Hapy</h3>
        <br />
        <p>
          Hapy can be used to write basic programs. It supports basic
          programming features like:
        </p>

        <ul>
          <li>Loops</li>
          <li>Variable assignment</li>
          <li>Arithmetic operations</li>
          <li>Functions</li>
          <li>Classes</li>
          <li>Arrays and Lists</li>
          <li>Conditional statements</li>
        </ul>
      </div>
      <div class="col-lg-8">
        <h3 class="fw-bolder mb-4">A presentation on Hapy</h3>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/NXxJQkRDEjQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="small text-small text-muted">
          <em>
            Emmanuel gave a short presentation on Hapy as part of the
            <a href="https://virtualcoffee.io" target="_blank"
              >VirtualCoffee community</a
            >
            Lightning Talks
          </em>
        </p>
      </div>

      <div class="col-12">
        <h3 class="fw-bolder mb-4">Credits</h3>

        <p>
          Logo was designed by digital artist
          <a href="https://t.segunlean.com/" target="_blank">Tobi Segun-Lean</a>
        </p>
      </div>
    </div>
    <!-- features and view END -->
  </div>
</section>
<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="static/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="static/js/editor/monarch-settings.js"></script>
<script src="static/js/editor/index.js"></script>
{% endblock %}
