{% extends "layouts/base.html" %} {% block title %} Home {% endblock %} {% block
head %} {{ super() }} {% endblock %}

<!-- content -->
{% block content %}

<div class="row">
  <div class="col">
    <h1 class="mt-5">HapyLand</h1>
    <p>Hausa & English in Coding Symphony</p>
    This is the beta release/version of the Hapy site, more changes to come soon
    :)

    <p></p>
    <h3>GETTING STARTED</h3>
    <ol>
      <li>
        Check if Python is installed globally. If not, download it
        <a href="https://www.python.org/downloads/"> here</a>
      </li>
      <li>
        Install Hapy globally. Type in this command in your command prompt:
        <p></p>

        <p style="background-color: gray; height: 30px">
          <strong>pip install Hapy</strong>
        </p>
      </li>

      <li>
        Then check if the installation was successful by typing this command on
        a new line:

        <p></p>

        <p style="background-color: gray; height: 30px">
          <strong>hapy --version</strong>
        </p>
      </li>

      <li>
        Congratulations! Hapy is now installed on your system. Check out example
        codes <a href="/examples">here</a>
      </li>
    </ol>
  </div>

  <div id="editor" class="col mt-5">
    <span>Select Theme:</span>
    <select id="themeselect">
      <option>vs</option>
      <option>vs-dark</option>
      <option>hc-dark</option>
    </select>

    <button onclick="runcode()" style="float: right" class="btn btn-dark">
      Run
    </button>
    <label> <input id="compile_only" type="checkbox" />Compile Only </label>
	<div id="loader" class="loader">Loading...</div>
    <div
      id="container"
      style="width: 600px; height: 400px; border: 1px solid rgb(151, 134, 134)"
      class="mt-3"
    ></div>

    <h5>Output</h5>
    <div id="output" class="p-2 rounded-3"></div>

    <h5>Python</h5>
    <div id="python_code" class="p-2 rounded-3"></div>
  </div>
</div>

<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="static/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="static/js/editor/monarch-settings.js"></script>
<script src="static/js/editor/index.js"></script>
{% endblock %}
