{% extends "layouts/base.html" %} {% block title %} Login {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<br>
<br>


<div class="container">
    <form action="/api/users/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login" class="btn btn-primary me-md-2" type="button">
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
</div>

<br>

<div class="container">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="password"> <a href="/login">Forgot password?</a></span>
</div>
</form>
</div>


{% endblock %}