<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify_token</title>
</head>

<body>

    <input id="token" type="password" hidden disabled readonly value="{{token}}">

    <script>
        var tk = document.getElementById("token").value;

        if (tk) {
            localStorage.setItem("hapyland_token", JSON.stringify(tk));
            document.location = "/";
        }
    </script>
</body>

</html>