<!-- The content of your page would go here. -->
<footer style="background-color: #1d440a" ; class="footer-distributed">
    <div class="alert bg-warning text-center ">
        Interested in the Hapy Project? Email Emmanuel <a href="mailto:eslean20@gmail.com">eslean20@gmail.com</a>
    </div>
    <div class="footer-left">
        <h3>Hapy<span>Land</span></h3>

        <p class="footer-links">
            <a href="/">Home</a> |
            <a href="#about">About</a> |
            <!-- <a href="/examples">Examples</a> |
            <a href="/bites">Bites</a> | -->
            <a href="/editor">Editor</a>
        </p>

        <p class="footer-company-name">© 2022 HapyLand</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>Abuja, Nigeria</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+234 9059823638</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:victor.alumma@aun.edu.ng">victor.alumma@aun.edu.ng</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about white-text">
            Write code in Hausa
        </p>
        <br>
        <a class="btn btn-secondary btn-outline px-4 me-sm-3" href="https://github.com/hapy-lang/hapy">
            <i class="bi bi-github"></i> Contribute on Github</a><br />

            <a class="btn btn-dark btn-outline px-4 me-sm-3 mt-2" href="https://github.com/hapy-lang/hapy-land">
                <i class="bi bi-pencil"></i> Improve this site</a>
    </div>
</footer>