<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Hapy<span>Land</span</h3>

        <p class="footer-links">
            <a href="/">Home</a> |
            <a href="/examples">Examples</a> |
            <a href="/bites">Bites</a> |
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2021 HapyLand </p>
    </div>

    <div class="footer-center">
        <div>
            <i class="bi bi-map-marker"></i>
            <p><span>
                    American University of Nigeria </span> Yola, Adamawa</p>
        </div>

        <div>
            <i class="bi bi-phone"></i>
            <p> +234 9059823638 </p>
        </div>
        <div>
            <i class="bi bi-envelope"></i>
            <p><a href="mailto:emmanuel.segunlean@aun.edu.ng">emmanuel.segunlean@aun.edu.ng</a></p>
        </div>


    </div>
    <div class="footer-right">
        <p></p>
        <p class="footer-company-about" ;>
            <span>About Us</span>
            <p style="font-style: italic; font-size: 12px"> We provide a training and skill building platform involving coding in Hausa and computational thinking.</p>
        </p>

        <div class="footer-icons">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</footer>