<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #1d440a"
>
  <div class="container px-5 py-md-4">
    <a class="navbar-brand" href="/">Hapy</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/examples">Examples</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/bites">Bites</a></li>
        <li class="nav-item"><a class="nav-link" href="/editor">Editor</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li> -->

        {% if user != None and user is defined %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownPortfolio"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <span class="text-warning">{{user.username}}</span>

          <i class="bi bi-person"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownPortfolio"
          >
          {% if user.is_superuser %}
            <li>
              <a class="dropdown-item" href="/admin/add_example"
                >Add Challenge</a
              >
            </li>
          {% endif %}
            <li>
              <a class="dropdown-item" href="/logout"
                >Logout</a
              >
            </li>
          </ul>
        </li>
        {% else %}
        <div
          class="d-grid gap-2 d-md-flex justify-content-end"
          style="font-size: 15px"
        >
          <a class="bg-gradient btn btn-outline-warning" href="/login">Login</a>
          <a class="btn btn-warning bg-gradient text-light" href="/register">Register</a>
        </div>

        {%endif%}
      </ul>
    </div>
  </div>
</nav>
