<nav class="container navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hapy <i class="bi-gem" style="font-size: 1.5rem; color: black;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/examples">Examples</a>
        <a class="nav-link" href="/bites">Bites</a>
      </div>
    </div>
  </div>
  <div>
  </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class= "nav-link" href="/login">Login</a>
      <button class="btn btn-primary me-md-2" type="button">EN</button>
      <button class="btn btn-primary" type="button">HA</button>
    </div>
</nav>