<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hapy :: Python in Hausa</title>
</head>
<body>
	<h1>Hapy</h1>
			<p>...Hausa & English in Coding Symphony</p>
		This is the beta release/version of the Hapy site, more changes to come soon.

	<h2><p>NAVIGATION BAR</h2>
		<ul>
		<li><strong><a href="/">HOME</a></strong></li>	
		<li><strong><a href="/examples">EXAMPLES</a></strong></li>
		<li><strong><a href="/bites">BITES</a></strong></li>
		</ul></p>

	<h3>GETTING STARTED</h3>
	<ol>
		<li> Check if Python is installed globally. If not, download it <a href="https://www.python.org/downloads/"> here</a></li>
		<li> Install Hapy globally. Type in this command in your command prompt:
			<p><strong>pip install Hapy</strong></p></li>
		<li>Then check if the installation was successful by typing this command on a new line: 
			<p><strong>hapy --version</strong></p></li>
		<li>Congratulations, Hapy is now installed on your system. Check out example codes <a href="/examples">here</a></li>

	</ol>
</body>
</html>